<div class="todo-item">
  <div class="todo-item-left">
    <input type="checkbox" [(ngModel)]="todo.isCompleted" (change)="todoService.doneEdit(todo)">
    <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" 
    [ngClass]="{ 'completed' : todo.completed }" (dblclick)="todoService.editTodo(todo)">{{ todo.name }}</div>
  <ng-template #editingTodo>
      <input type="text" class="todo-item-edit" 
      [(ngModel)]="todo.name" (keyup.enter)="todoService.doneEdit(todo)" (keyup.escape)="todoService.cancelEdit(todo)" autofocus>
    </ng-template>
  </div>
  <div class="remove-item" (click) ="todoService.deleteTodo(todo.id)">
    &times;
  </div>
</div>